.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    text-align: center;
}
img{
    /* transform: translateX(-200px); */
    /* transform: translateY(200px); */
    /* transform: translate(-200px, 200px); */
    /* transform: scaleX(3); */
    /* transform: scaleY(0.5); */
    /* transform: scale(2); */
    /* transform: scale(3, 0.5); */
    /* transform: rotateX(60deg); */
    /* transform: rotateY(500deg); */
    /* transform: rotateZ(-30deg); */
    /* transform: rotateZ(-90deg) translateY(200px) scale(2); */
    transform: perspective(80px);
}